<%= form_with(model: @tweet, local: true, url: confirm_tweets_path) do |form| %>
<div class='tweet_content'>
  <%= form.text_area :content %>
</div>
<div class='btn_wrapper'>
  <%= form.submit "Tweet", class: "btn_tweet" %>
</div>
<% end %>
<%= link_to  "All Tweets", tweets_path %>